brand_name=Scaler School
lms_link=https://www.scaler.com/school-of-technology/meta-pytorch-hackathon/
ENABLE_WEB_INTERFACE=true
API_BASE_URL=os.getenv("API_BASE_URL") or "https://router.huggingface.co/v1"
API_KEY=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
MODEL_NAME=os.getenv("MODEL_NAME") or "Qwen/Qwen3-VL-30B-A3B-Instruct:novita"
LOCAL_IMAGE_NAME=os.getenv("LOCAL_IMAGE_NAME")
TASK_NAME=os.getenv("BROWSERGYM_TASK_NAME", "unknown-task")
BENCHMARK=os.getenv("BROWSERGYM_BENCHMARK", "unknown-env")