# This is example environment variables given as samples. Please replace with your own environment variables.

# Mandatory environment variables
ENABLE_WEB_INTERFACE=true
API_BASE_URL=https://api.openai.com/v1
MODEL_NAME=gpt-5.4-mini
LOCAL_IMAGE_NAME=mithilesh1103/openenv-edupilot-mithilesh:latest
EDUPILOT_TASK_NAME=EduPilot Notification Generation
BRAND_NAME=Scaler School
STATIC_MESSAGE_TEXT=A new assignment has been released for you.
LMS_DOMAIN_URL=https://www.scaler.com/school-of-technology/meta-pytorch-hackathon
YOUTUBE_DOMAIN_URL=https://www.youtube.com
EDUPILOT_BENCHMARK="10.5"
# Optional environment variables
