BRAND_NAME=Scaler School
LMS_LINK=https://www.scaler.com/school-of-technology/meta-pytorch-hackathon/
ENABLE_WEB_INTERFACE=true
API_BASE_URL="https://api.openai.com/v1"
MODEL_NAME="MODEL_NAME"
LOCAL_IMAGE_NAME="mithilesh1103/openenv-edupilot-mithilesh:latest"
TASK_NAME="EDUPILOT_TASK_NAME"
# BENCHMARK="BROWSERGYM_BENCHMARK"

API_KEY=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